<div class="app-container">
    <div class="header">
        <h2>Great Location App</h2>
        <div>
            <p-avatar label="KO" pBadge styleClass="mr-5" value="4" [style]="{ 'background-color': '#4caf4f', color: '#ffffff' }"></p-avatar>
        </div>
    </div>
    <div class="main-container">
        <div class="menu-container">
            <p-panelMenu [model]="items"></p-panelMenu>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
