.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: lightgray;
    padding: 16px;

    h2 {
        margin: 0px;
    }
}

.main-container {
    display: flex;
    height: 100%;
}

.app-container {
    height: 100vh;
}

.menu-container {
    background-color: rgb(248, 249, 250);
}
